
@{
    ViewBag.Title = "Catalogs";
}

<h2>Catalogs</h2>

<p>Please select which catalog you would like to maintain</p>

<a href="@Url.Action("AssayCatalog","Seattle")">Pharmacology Catalog</a> | 
<a href="@Url.Action("AssayCatalog","Seattle")">Protocol Notebook</a>