
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>
<p><a href="#">Generate Efficiency Report</a></p>

<p><a href="#">Generate Proficiency Report</a></p>
<p><a href="#">Generate Profitability Report</a></p>
<p><a href="#">Generate Quarterly Summary Report</a></p>
<br />
<br />
<br />
<a href="@Url.Action("Index","Seattle")">Return to the Home Page</a>

