
@{
    ViewBag.Title = "Work Order";
}

<h2>Search for a Work Order</h2>

<p>Please select what you would like to do</p>

<a href="@Url.Action("ViewAll", "Seattle")" >View All Work Orders</a> |
<a href="@Url.Action("Search", "Seattle")" >Find Work Order</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a href="@Url.Action("Index", "Seattle")" >Return Home</a>


