@model WebApplication1.Models.Materials

@{
    ViewBag.Title = "OrderMaterials";
}

<h2>Ordering Materials</h2>
<h2>A request to order more @Model.MaterialDescription has been sent.  Thank you!</h2>

