@model WebApplication1.Models.Compound_Assay

@{
    ViewBag.Title = "Schedule";
}

<h2>Show all assay tests required for the week</h2>
<form method="post">
    Begin Date:
    <input type="date" name="begindate" />
    End Date:
    <input type="date" name="enddate" />
    <input type="submit" />
</form>

