
@{
    ViewBag.Title = "WorkOrder";
}

<h2>WorkOrder</h2>

<p>Please select what you would like to do</p>

<a href="@Url.Action("ViewAll", "Singapore")" class="btn btn-lg btn-danger">View All Work Orders</a>
<a href="@Url.Action("Search", "Singapore")" class="btn btn-lg btn-danger">Find Work Order</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<a href="@Url.Action("Index", "Singapore")" class="btn btn-lg btn-danger">Return Home</a>


