@model WebApplication1.Models.Contact

@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>
<div class="container">
    <div class="jumbotron">
        <p>Thank you @Model.firstName @Model.LastName for reaching out! We will get back to you as soon as we can.  We will be contacting you at @Model.Email, Thank you!</p>
    </div>
</div>

