@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url('../../Pictures/Lab header.jpg');background-size:cover; min-height:300px">
    <h1 style="color:white; padding-top:100px">NORTHWEST LABS</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Pictures/Testing.jpg" class="img-thumbnail"/>
        <p>
           Here at NorthWest Labs we have a number of Assay Tests that can be requested. These Assay Tests are performed by our world-class team of professionals to get the results you need.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("AssayCatalog")">Assay Catalog &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Pictures/Man with microscope.jpg" class="img-thumbnail" />
        <p>Learn more about our state of the art facilities and world-class team.</p>
        <p><a class="btn btn-default" href="@Url.Action("About")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Pictures/pouring chemicals.jpg" class="img-thumbnail" />
        <p>Have questions? Feel free to contact our Customer Service team at any time!</p>
        <p><a class="btn btn-default" href="@Url.Action("Contact")">Contact Us &raquo;</a></p>
    </div>
</div>